
.container{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: #222;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "goon goon"
    "pic1 pic2"
    "pic3 pic4"
    "pic5 pic6"
    "pic7 pic8"
    "pic9 pic10"
    ;
}

.goon{
    grid-area: goon;
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 700;
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.pic1{
    grid-area: pic1;
}

.pic2{
    grid-area: pic2;
}

.pic3{
    grid-area: pic3;
}

.pic4{
    grid-area: pic4;
}

.pic5{
    grid-area: pic5;
}

.pic6{
    grid-area: pic6;
}

.pic7{
    grid-area: pic7;
}

.pic8{
    grid-area: pic8;
}

.pic9{
    grid-area: pic9;
}

.pic10{
    grid-area: pic10;
}

@media screen and (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "goon"
        "pic1"
        "pic2"
        "pic3"
        "pic4"
        "pic5"
        "pic6"
        "pic7"
        "pic8"
        "pic9"
        "pic10"
    }
}